<!--================================================================================
  Item Name: Materialize - Material Design Admin Template
  Version: 1.0
  Author: GeeksLabs
  Author URL: http://www.themeforest.net/user/geekslabs
================================================================================ -->
<template name='assets'>
    {{>header}}
    <!-- END HEADER -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">
            {{>sideNav}}
        
  <!-- END WRAPPER -->
  <section id='content'>
        <div id="breadcrumbs-wrapper" class=" grey lighten-3">
          <div class="container">
            <div class="row">
              <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">Assets</h5>
                <ol class="breadcrumb">
                  <li><a href="index.html">Dashboard</a>
                  </li>
                  <li><a href="#">Pages</a>
                  </li>
                  <li class="active">Assets</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
  </section>
        <div class="container">
                <form class='assets-form' >
                 <div class='box'>
                    <input type='text' class='inputs' name='name1' placeholder='Name' required>
                 </div>
                 <div class='box'>
                    <input type='text' class='inputs' name='ip_address' placeholder='IP address(es)' required>
                 </div>
                 We will want to filter on these.  Not Advanta owned. 
                 <div class='box'>
                    <input type='text' class='inputs' name='location1' placeholder='Location'>
                 </div>
                 <div class='box'>
                    <input type='text' class='inputs' name='model' placeholder='Model'>
                 </div>
                  <div class='box'>
                    <input type='text' class='inputs' name='mac' placeholder='MAC'>
                 </div>
                 <div class='box'>
                    <input type='text' class='inputs' name='serial_number' placeholder='Serial Number'>
                 </div>
                  <div class='box'>
                    <input type='text' class='inputs' name='other' placeholder='Other'>
                 </div>
                  <div class='box'>
                    <input type='text' class='inputs' name='role' placeholder='Role'>
                 </div>
                  <select disabled>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                  <div class='box'>
                    <input type='text' class='inputs' name='date_purchase' placeholder='Date Purchase'>
                 </div>
                 <div class='box'>
                    <input type='text' class='inputs' name='date_installed' placeholder='Date Installed'>
                 </div>
                 <div class='box'>
                    <input type='text' class='inputs' name='version1' placeholder='Version'>
                 </div>
                 <div class='box'>
                    <input type='text' class='inputs' name='cost_with_shipping' placeholder='Cost with Shipping'>
                 </div>     
                 <div class='box'>
                    <input type='text' class='inputs' name='working_notes' placeholder='Working notes'>
                 </div>
                 <div class='box'>
                    <input type='submit' class='btn blue' value='Submit' name='submit'>
                 </div>
        </form>
    </div>
  </div>
  <div id="modal1" class="modal">
             <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">X</a>
            </div>
             {{>login}}
        </div>
  <!-- END WRAPPER -->
    <script>
        $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
          $('.modal-trigger').leanModal();
        });
    </script>
</div>
</template>