<!--================================================================================
  Item Name: Materialize - Material Design Admin Template
  Version: 1.0
  Author: GeeksLabs
  Author URL: http://www.themeforest.net/user/geekslabs
================================================================================ -->            <!-- START CONTENT -->
<template name='signup'>
    {{>header}}
    <!-- END HEADER -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">
           <!--{{>sideNav}}-->
            
   <!--<section id="content">-->

        <!--breadcrumbs start-->
        <!--<div id="breadcrumbs-wrapper" class=" grey lighten-3">
          <div class="container">
            <div class="row">
              <div class="col s12 m12 l12">
                <h3 class="breadcrumbs-title" style="margin:10px;text-align:center;">Registration</h3>
                <ol class="breadcrumb">
                  <li><a href="index.html">Dashboard</a>
                  </li>
                  <li><a href="#">Pages</a>
                  </li>
                  <li class="active">Tasks</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
    </section>-->
        <!--breadcrumbs end-->
        <!--start container-->
          <div class="container"  id="signupContainer">
              <div class="row s12 form_container">
                <fieldset style="width: 500px;">
                    <legend>Client Registeration </legend>
                <form class="signup">
                  <div class="row col s12">
                    <label>Username</label>
                    <input type="text" name="client_name" required>
                  </div>
                  <div class="row col s12">
                    <label>Client Email</label>
                    <input type="email" name="client_email" required>
                  </div>
                  <div class="row col s12">
                    <label>Client Password</label>
                    <input type="password" name="client_password" required>
                  </div>
                  <div class="row col s12">
                         <input type='submit' style="float: right;" value='Register' name='submit' class='btn col s12'>
                   </div>
                  
                                     <!--Old Registeration Form for Client-->
                                 <!--=========================================-->
                    <!--<div class="input-field col s6">
                      <input  name="first_name" type="text" placeholder="First Name" class="validate">
                      <label>First Name</label>
                    </div>
                    <div class="input-field col s6">
                      <input name="last_name" type="text" placeholder="Last Name" class="validate">
                    </div>
                  
                  <div class="row">
                    <div class="input-field col s12">
                      <input name="email" type="email" placeholder="Email" class="validate">
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input name="password" type="password" placeholder="Password" class="validate">
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input name="confirm_password" type="password" placeholder="Confirm Password" class="validate">
                    </div>
                  </div>
                  <div class='row'>
                      <input type='submit' style="float: right;" value='Register' name='submit' class='btn col s12'>
                  </div>-->
                </form>
                 <button style="width:200px;float:right;margin-right:110px;background-color:#e67e22;"  class='btn col s12 BTD'>Back To Dashboard</button>
                </fieldset>
            </div>
          </div>
        </div>
        <div id="modal1" class="modal">
             <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">X</a>
            </div>
             {{>login}}
        </div>
  <!-- END WRAPPER -->
    <script>
        $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
          $('.modal-trigger').leanModal();
        });
    </script>
      </div>
</template>
