<template name="phone_number">
    {{>header}}
     <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">
            {{>sideNav}}
                
                
             <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" style="display:inline;" name="text_field" placeholder="Search">
          <!--<select class="browser-default" id="status_select">
                <option value="" disabled selected>Search By Number Status</option>
                <option value="Active">Active</option>
                <option value="Deactive">Deactive</option>
                <option value="Pending">Pending</option>
          </select>-->
        </div>
       
      </div>
      {{#if admin}}
         <a style="float:right;margin-top:-90px;" class="btn-floating btn-large waves-effect waves-light red bottom" href="{{pathFor 'phone_add'}}"><i class="material-icons">add</i></a>
       {{else}}
       
       {{/if}}
    </form>
  </div>   
  
        <div class="container">
    <table class="highlight bordered centered " id="Site_table">
        <thead>
        <tr style="border-bottom: solid 2px #34495e;">
            <th>Phone Number</th>
            <th>Status</th>
            <th>Use</th>
            <th>Site</th>
            <th>Primary Server</th>
            <th>Carrier</th>
            <th>E911</th>
            
        </tr>
        </thead>
       {{#if searchData}}
            <!--Hello-->
            {{#each searchData}}
                {{> phone_tab}}
            {{/each}}
        {{else}}
        {{#each tables}}
            {{> phone_tab}}
        {{/each}}
        {{/if}}
        <!--{{#if searchData}}
            
            {{#each searchData}}
                {{> tab}}
            {{/each}}
        {{else}}
        {{#each tables}}
            {{> tab}}
        {{/each}}
        {{/if}}-->
    </table>
    </div>
  
<!--....................Wrapper Class Ends Here..............-->
         </div>
    <!--.............Main Div Close Here..............-->
    </div>
</template>

<template name="phone_tab">
    <tr style="border-bottom: solid 1px gray; text-align: center;" >
        <td style="text-align: center;"><a class="link">{{phone_number}}</a></td>
        <td style="text-align: center;">{{status}}</td>
        <td style="text-align: center;">{{use}}</td>
        <td style="text-align: center;">{{site}}</td>
        <td style="text-align: center;">{{primary_server}}</td>
        <td style="text-align: center;">{{carrier}}</td>
        <td style="text-align: center;">{{e911}}</td>
        
    </tr>
</template>